<template>
    <el-row :gutter="18">
        <el-col :span="6" v-for="dato in datos" :key="dato.nombre">
            <img v-if="dato.nombre === ej" :src="dato.imagen" class="img" />
        </el-col>
        <el-col :span="18" v-for="dato in datos" :key="dato.nombre">
            <h2 v-if="dato.nombre === ej"> {{dato.nombre}} </h2>
                <p v-if="dato.nombre === ej">autor: {{dato.autor}}</p>
                <p v-if="dato.nombre === ej">año de lanzamiento: {{dato.año}}</p>
                <p v-if="dato.nombre === ej">genero: {{dato.generos}}</p>
                <p v-if="dato.nombre === ej">estado: {{dato.estado}}</p>
                <p v-if="dato.nombre === ej">cantidad de episodios: {{dato.episodios}}</p>
                <p v-if="dato.nombre === ej">tipo: {{dato.tipo}}</p>
                <p v-if="dato.nombre === ej">{{dato.sinopsis}}</p>
        </el-col>
    </el-row>
</template>
<script>
import {db} from '../services/firebase'
import temp from '../views/Catalogo'
export default {
    data(){
        return{
            datos:[],
            ej:temp
        }
    },
    created() {
    // Traer datos de firebase 
    this.get()
  },
  methods: {
      get (){
        //eslint-disable-next-line no-console
      console.log("Ejecutando")
      // Obtener información
      db.ref('/Proyecto_final/lista/').once('value')
      .then( res => {
        this.datos = res.val()
        //eslint-disable-next-line no-console
        console.log(" Con datos. ", this.datos)
      })
      .catch( error => {
        //eslint-disable-next-line no-console
         console.log("Error sin datos ",error)
      })
    }
  } 
}
</script>