<template>
  <div>
    <h2>Nombre: </h2>
    <el-input v-model="nombre" id="el-input"></el-input>
    <h2>Autor: </h2>
    <el-input v-model="autor" id="el-input"></el-input>
    <h2>año de lanzamiento:</h2>
    <el-input v-model="annyo" id="el-input"></el-input>
    <h2>Imagen: </h2>
    <el-input v-model="imagen" id="el-input"></el-input>
    <h2>Episodios: </h2>
    <el-input v-model="episodios" id="el-input"></el-input>
    <h2>Sinopsis: </h2>
    <el-input v-model="sinopsis" id="el-input"></el-input>
    <br>
    <el-select v-model="value" clearable placeholder="Tipo">
    <el-option
      v-for="item in tipos"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  <el-select v-model="value2" clearable placeholder="Genero">
    <el-option
      v-for="item in genero"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>

  <el-select v-model="value3" clearable placeholder="Estados">
    <el-option
      v-for="item in estados"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>


    <el-button @click="goClick"> registrar </el-button>
  </div>
</template>

<script>
// @ is an alias to /src
import { db } from '../services/firebase.js'

export default {
  name: 'home',
  data() {
    return {
      nombre: '',
      imagen:'',
      annyo:'',
      autor:'',
      episodios:'',
      sinopsis:"",
      tipos:[{
          value:'anime',
          label:'Anime'
        },{
          value:'pelicula',
          label:'Pelicula'
        },
        {
          value:'especial',
          label:'Especial'
        }],
        genero:[{
          value:'accion',
          label:'Accion'
        },
        {
          value:'aventura',
          label:'Aventura'
        },
        {
          value:'romance',
          label:'Romance'
        },
        {
          value:'deportes',
          label:'Deportes'
        },
        {
          value:'mecha',
          label:'Mecha'
        }],
        estados:[{
            value:'finalizado',
            label:'Finalizado'
        },
        {
            value:'en emision',
            label:'En emision'
        },
        {
            value:'-',
            label:'-'
        }],

        value: '',
        value2:'', 
        value3: ''
    }
  },
  
  methods: {
    goClick (){
      // Guardar información
      //eslint-disable-next-line no-console
      console.log("Ejecutando")
      db.ref("Proyecto_final/lista/"+"anime_nuevo"+this.nombre)
      .set({nombre: this.nombre, autor: this.autor, imagen: this.imagen,año: this.annyo, episodios: this.episodios, sinopsis: this.sinopsis, tipo: this.value, genero: this.value2, estado: this.value3})
      .then( () => {  
        //eslint-disable-next-line no-console
        console.log(" Guardo los datos ");
        this.get();
        this.nombre = "";
        this.autor = "";
        this.imagen = "";
        this.sinopsis= "";
        this.episodios=""; 
        this.value= "";
        this.value2="";
        this.value3="";
        this.$router.push('catalogo')
      })
      .catch( error => {
              //eslint-disable-next-line no-console
         console.log("Error al guardar ",error)
      })
    },
  }
}
</script>
<style>
#el-input{
  width: 400px;
}
</style>