<template>
  <div class="home">
    <div align="center"><img src="../assets/logoo.png">
    </div>
    <h2>Usuario:</h2>
    <el-input v-model="inicio.nombre" id="input"></el-input>
    <h2>Contraseña:</h2>
    <el-input v-model="inicio.contraseña" show-password id="input"></el-input>
    <br>
    <div id="nav">
          <router-link to="/registro">registrarse</router-link>
    </div>
    <br>
    <el-button @click="validar">iniciar</el-button>

  </div>
</template>

<script>
// @ is an alias to /src
import {db} from '../services/firebase'
export default {
  name: 'home',
  components: {},
  data(){
    return{
      inicio:{
        nombre:'',
        contraseña:''
      }
    }
  },
  methods:{
    validar:function(){
      db.ref('Proyecto_final/usuarios/'+this.inicio.nombre)
      .once("value")
      .then( resultado => {
        const datos = resultado.val()
        //eslint-disable-next-line no-console
        console.log("usuario correcto",datos,resultado.val())
        if (datos != null){
        this.$router.push('catalogo') 
        }else{
          this.$alert('Usuario incorrecto', 'Error', {
          confirmButtonText: 'OK'

        });
        }

      })
      .catch(error =>{
        //eslint-disable-next-line no-console
        console.log("Error",error)
      })
    }
  }
}
</script>
<style>
.fondo{
  background-color: blue;
}
h2{
  text-align: center;
}
.home{
  width: 1440px;
  height: 1024px;
  margin: 50px;
}
#input{
  width: 400px;
}
  
</style>
