<template>

            <el-card class="margen"> 
            <h2>{{ dato.nombre }}</h2>
          <div>
            <img :src="dato.imagen" class="img" />
            <br>
            <br>
            <el-tag v-if="dato.tipo === 'anime'"
            type="danger"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'pelicula'"
            type="success"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'especial'"
            type="warning"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <br>
            <br>
            <el-button type="info" icon="el-icon-check" @click="temp=dato.nombre" circle></el-button>
            <el-button type="info" icon="el-icon-s-opportunity" @click="dialogTableVisible = true"  circle ></el-button>
          </div>
            <el-dialog :visible.sync="dialogTableVisible">
                <img v-if="dato.nombre === temp" :src="dato.imagen" class="img" />
                <h2 v-if="dato.nombre === temp"> {{dato.nombre}} </h2>
                <p v-if="dato.nombre === temp">autor: {{dato.autor}}</p>
                <p v-if="dato.nombre === temp">año de lanzamiento: {{dato.año}}</p>
                <p v-if="dato.nombre === temp">genero: {{dato.generos}}</p>
                <p v-if="dato.nombre === temp">estado: {{dato.estado}}</p>
                <p v-if="dato.nombre === temp">cantidad de episodios: {{dato.episodios}}</p>
                <p v-if="dato.nombre === temp">tipo: {{dato.tipo}}</p>
                <p v-if="dato.nombre === temp">{{dato.sinopsis}}</p>              
            </el-dialog>
        </el-card>

</template>
<script>
export default {
    name: 'card'
}
</script>