<template>
  <div id="app">
    <el-header></el-header>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  ;
  background-size: cover;
}
.el-header{
    background-color: #FFC900;
    background-size: cover;
    line-height: 115px;
  }


</style>

